* {
  box-sizing: border-box;
}

body {
  background: #143C4C;

}

#all-contents {
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 32px 40px;
}

main {
  display: grid;
  grid-template-columns: minmax(220px, 1fr) minmax(420px, 1.6fr); 
  align-items: center;
  min-hight: calc(100vh - 160px);
  gap: clamp(32px, 5vw, 80px);
}

.sidebar {
  witdh: 100%;
}

.content {
  display: felx;
  flex-direction: colunm;
  align-items: flex-start;
  gap: 12px;
}

h2 {
  margin: 0;
  font-size: clamp(3rem, 5vw, 9rem);
  line-height: 0.9;
  font-weight: 900;
  letter-spacing: -0.04em;
  text-transform: 0.4em;
  color: #FFFFFF;
}

.content> p {
  margin: 0;
  color: #9DABB2;
  font-size: 1.16rem;
  text-transform:uppercase;
  letter-spacing: 0.12em;
  line-height: 2.5rem;
  font-weight: 850;
}

#interests {
  margin-top: 32px;
  width: 100%;
}

#interests h3 {
 margin:0px 0px 12px;
 font-size: 1.45rem;
 font-weight: 700; 
 letter-spacing: 0.34rem;
 color: #C2D4DD;
 text-transform: uppercase;
}

#intersts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 
}

